certifi==2020.4.5.1
chardet==3.0.4
Cython==0.29.10
docutils==0.16
idna==2.9
Kivy @ https://github.com/kivy/kivy/archive/master.zip
kivy-deps.angle==0.1.10
kivy-deps.glew==0.2.0
kivy-deps.glew-dev==0.2.0
kivy-deps.gstreamer==0.2.0
kivy-deps.gstreamer-dev==0.2.0
kivy-deps.sdl2==0.1.23
kivy-deps.sdl2-dev==0.2.0
Kivy-Garden==0.1.4
Pygments==2.6.1
pypiwin32==223
pywin32==227
requests==2.23.0
urllib3==1.25.9
xlrd==1.2.0
XlsxWriter==1.2.8
